/* Small CSS Reset
  * ========================================================================== */

  *, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Containers
  * ========================================================================== */
  
header {
    background-color: #333333;
    width: 100%;
    height: 100px;
    padding: 10px 0;
    position: sticky;
    top: 0px;
}

  main{
    width: 90%;
    margin: auto;
}

.wrap_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#tree_container {
    height: 85vh;
    border: solid #b9b9b9 1px;
    border-radius: 5px;
}

@media only screen and (min-width: 700px) {
    .two_columns {
        min-width: 300px;
        width: 50%;
        padding: 1em;
    }

    #tree_container {
        margin: 1em;
    }
}

/* Content
  * ========================================================================== */

.header_back_button {
    object-fit: contain;
    width: 40px;
    height: 60px;
    position: fixed;
    left: max(calc(5vw + 15px),calc(50vw - 585px));
    top: 20px;
}

.header_link {
    max-height: 80px;
    object-fit: contain;
    width: 100%;
}

p {
    margin-bottom: 16px;
}

h1, h2 {
    margin: 20px 0 16px;
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
}

h3, h4, h5, h6 {
    margin: 16px 0 4px;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: rgb(244, 103, 92);
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    font-weight: 400;
}

a:hover, a:active {
    background-color: rgb(244, 103, 92);
    color: #F9F9F9;
    font-weight: 400;
}

aside {
    background-color: lightgoldenrodyellow;
    border-left: 4px solid orange;
    padding: 0.8rem 0.8rem;
}